.center
{
text-align: center;
}

.caption
{
  color:gray;
  font-size:small;
}

div#board
{
text-align: center;
width:100%;
}

div#congraturations
{
  position:absolute;
  left:20%;
  top:20%;
  width: 60%;
  height: 200pt;
  font-size: 30pt;
  background:#aa5544;
  border: 6px double #aacc22;
  display: none;
}

div#rule
{
  margin-top:40px;
  margin-left:5%;
}

table
{
  margin: 0 auto;
  background:#88aa88;
  border-width:4px;
  border-style:outset;
}

td
{
  width: 20pt;
  height:20pt;
  text-align:center;
  border-width:2px;
  border-style:outset;
}

td.sel
{
  background-color:red;
}

td[bin="0"]
{
  background-image:url(w.png);
  background-repeat:no-repeat;
  background-position:4px 2px;
}

td[bin="1"]
{
  background-image:url(b.png);
  background-repeat:no-repeat;
  background-position:4px 2px;
}
