.center
{
  text-align: center;
  margin: 0 auto;
}

.left
{
  text-align: left;
}

.caption
{
  color:gray;
  font-size:small;
}

div#board
{
text-align: center;
width:100%;
}

div#congraturations
{
  position:absolute;
  left:20%;
  top:20%;
  width: 60%;
  background:#aa5544;
  border: 6px double #aacc22;
  display: none;
}

div#congraturations #head
{
  margin-top:50px;
  font-size: 30pt;
}

div#congraturations #info
{
  margin-top:10px;
  width:80%;
}

button#close
{
  float:right;
  margin-right: 20px;
  margin-bottom: 20px;

}

div#shita
{
  margin-top:20px;
}

button#new{
  margin-left: 20em;
}

div#rule
{
  margin-left:20px;
}

table#area
{
  margin-top:20px;
  background:#88aa88;
  border-width:4px;
  border-style:outset;
}

table#area td
{
  width: 29px;
  height:29px;
  border-width:2px;
  border-style:outset;
  padding:0px;
  text-align:center;
  vertical-align:middle;
}

table#area td.sel
{
  background-color:red;
}

table#area td div
{
  width:19px;
  height:19px;
  margin:auto;
}

table#area td.bin0 div
{
  background-image:url(./w.png);
  background-repeat:no-repeat;
}

table#area td.bin1 div
{
  background-image:url(./b.png);
  background-repeat:no-repeat;
}

* html table#area td.bin0 div
{
  background:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="./w.png");
}

* html table#area td.bin1 div
{
  background:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="./b.png");
}
