h1
{
text-align: center;
}

div#board
{
text-align: center;
width:100%;
}

table
{
  margin: 0 auto;
  background:#88aa88;
  border-width:4px;
  border-style:outset;
}

td
{
  width: 20pt;
  height:20pt;
  text-align:center;
  border-width:2px;
  border-style:outset;
}

td.sel
{
  background-color:red;
}

td[bin="0"]
{
  background-image:url(w.png);
  background-repeat:no-repeat;
  background-position:4px 2px;
}

td[bin="1"]
{
  background-image:url(b.png);
  background-repeat:no-repeat;
  background-position:4px 2px;
}
